<div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
<%= form_for @changeset, @action,[multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :start_date, class: "control-label" %>
    <%= date_input f, :start_date, class: "form-control" %>
    <%= error_tag f, :start_date %>
  </div>

  <div class="form-group d-none">
    <%= label f, :end_date, class: "control-label" %>
    <%= date_input f, :end_date, class: "form-control", value: "0001-01-01" %>
    <%= error_tag f, :end_date %>
  </div>

  <div class="form-group">
    <%= label f, :status, class: "control-label" %>
    <%= select f, :status, ["Ongoing": "ongoing", "Finished": "finished"], class: "form-control" %>
    <%= error_tag f, :status %>
  </div>  

  <div class="form-group">
    <%= label f, :current_amount, class: "control-label" %>
    <%= number_input f, :current_amount, class: "form-control" %>
    <%= error_tag f, :current_amount %>
  </div>

  <div class="form-group d-none">
    <%= label f, :expense_amount, class: "control-label" %>
    <%= number_input f, :expense_amount, class: "form-control", value: 0 %>
    <%= error_tag f, :expense_amount %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-success" %>
    <span><%= link "Cancel", to: Routes.sheet_path(@conn, :index), class: "btn btn-danger " %></span>     
  </div>
<% end %>
</div>
</div>
