<div class="row page-title">
    <div class="col-sm-12">
        <h2 class="pull-left ">Listing Sheets</h2>
        <a href="/sheets/new"><button class="btn btn-success waves-effect waves-light m-b-5 btn-sm pull-right"> <i class="fa fa-plus"></i> <span>Create New Sheet</span> </button> </a>
    </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Current amount</th>
      <th>Expense amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%= for sheet <- @sheets do %>
    <tr>
      <td><%= sheet.name %></td>
      <td><%= sheet.start_date %></td>
      <td><%= sheet.end_date %></td>
      <td><%= sheet.status %></td>
      <td><%= sheet.current_amount %></td>
      <td><%= sheet.expense_amount %></td>
      <td>
        <span><button class="btn btn-primary btn-sm action-btn" data-toggle="modal" data-target=".modal<%= sheet.id %>">Show Detail</button></span>
        <span><button class="btn btn-success btn-sm" data-toggle="modal" data-target=".modal_update<%= sheet.id %>">Make Finish</button></span> 
      </td>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<!--  Modal content for the above example -->
 <%= for sheet <- @sheets do %>
<div class="modal fade modal<%= sheet.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Sheet Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
            </div>
            <div class="modal-body">

              <table class="table table-striped table-bordered">
                <thead>
                  <th style="width: 25%">Title</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Name</strong></td>
                    <td>
                      <%= sheet.name %>
                    </td>
                  </tr>                    
                  <tr>
                    <td><strong>Start date</strong></td>
                    <td>
                      <%= sheet.start_date %>
                    </td>
                  </tr> 
                  <tr>
                    <td><strong>End date</strong></td>
                    <td>
                      <%= sheet.end_date %>
                    </td>
                  </tr>  
                  <tr>
                    <td><strong>Status</strong></td>
                    <td>
                      <%= sheet.status %>
                    </td>
                  </tr>                                          
                  <tr>
                    <td><strong>Current amount</strong></td>
                    <td>
                      <%= sheet.current_amount %>
                    </td>
                  </tr>  
                  <tr>
                    <td><strong>Expense amount</strong></td>
                    <td>
                      <%= sheet.expense_amount %>
                    </td>
                  </tr>             
                </tbody>
              </table>
              <div class="text-center">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<% end %>

<!-- Modal -->
 <%= for sheet <- @sheets do %>
<div class="modal fade modal_update<%= sheet.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comfirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/sheets/<%= sheet.id %>/updatestatus"><button class="btn btn-success"><span>Save Changes</span> </button> </a>
      </div>
    </div>
  </div>
</div>
<% end %>
