
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="">
        <div class="">
            <div >
                <h4 class="modal-title" id="myLargeModalLabel">Sheet Detail</h4>
                
            </div>
            <div class="modal-body">

              <table class="table table-striped table-bordered">
                <thead>
                  <th style="width: 25%">Title</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>Name</strong></td>
                    <td>
                      <%= @sheet.name %>
                    </td>
                  </tr>                    
                  <tr>
                    <td><strong>Start date</strong></td>
                    <td>
                      <%= @sheet.start_date %>
                    </td>
                  </tr> 
                  <tr>
                    <td><strong>End date</strong></td>
                    <td>
                      <%= @sheet.end_date %>
                    </td>
                  </tr>  
                  <tr>
                    <td><strong>Status</strong></td>
                    <td>
                      <%= @sheet.status %>
                    </td>
                  </tr>                                          
                  <tr>
                    <td><strong>Current amount</strong></td>
                    <td>
                      <%= @sheet.current_amount %>
                    </td>
                  </tr>  
                  <tr>
                    <td><strong>Expense amount</strong></td>
                    <td>
                      <%= @sheet.expense_amount %>
                    </td>
                  </tr>             
                </tbody>
              </table>
              <div class="text-center">
                <a href="/sheets/<%= @sheet.id %>/edit"><button class="btn btn-success waves-effect waves-light m-b-5"> <span>Edit</span> </button> </a>
                <a href="/sheets"><button class="btn btn-success waves-effect waves-light m-b-5"> <span>Back</span> </button> </a>
              </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>