<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Current Amount</h1>
  <h1> <%= @current_amount %> Kyats</h1>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Last Income</h4>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Inserted Date</th>
              <th>Sheet Name</th>
              <th>Member name</th>
              <th>Amount</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
          <%= for income <- @incomes do %>
            <tr>
              <td><%= income.inserted_date %></td>
              <td><%= income.sheet_name %></td>
              <td><%= income.user_name %></td>
              <td><%= income.amount %></td>
              <td><%= income.detail %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Last Outcome</h4>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Inserted Date</th>
              <th>Sheet Name</th>
              <th>Member name</th>
              <th>Amount</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
          <%= for outcome <- @outcomes do %>
            <tr>
              <td><%= outcome.inserted_date %></td>
              <td><%= outcome.sheet_name %></td>
              <td><%= outcome.user_name %></td>
              <td><%= outcome.amount %></td>
              <td><%= outcome.detail %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>