<div class="row page-title">
    <div class="col-sm-12">
        <h2 class="pull-left ">Listing Sheets</h2>
        <a href="/users/new"><button class="btn btn-success waves-effect waves-light m-b-5 btn-sm pull-right"> <i class="fa fa-plus"></i> <span>Create New User</span> </button> </a>
    </div>
</div>

<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
          <%= for account <- @users do %>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 member">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="<%= Routes.static_path(@conn, "/images/user.png") %>" height="20% alt="card image"></p>
                    <h4 class="card-title"><%= account.name %></h4>
                    <p class="card-text"><%= account.description %></p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</section>
            