<div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
<%= form_for @changeset, @action,[multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :sheet_id, class: "control-label" %>
    <%= select f, :sheet_id, Enum.map(@sheets, &{&1.name, &1.id}),class: "form-control" %>
    <%= error_tag f, :sheet_id %>
  </div> 

  <div class="form-group">
    <%= label f, :user_id, class: "control-label" %>
    <%= select f, :user_id, Enum.map(@users, &{&1.name, &1.id}),class: "form-control" %>
    <%= error_tag f, :user_id %>
  </div> 

  <div class="form-group">
    <%= label f, :amount, class: "control-label" %>
    <%= number_input f, :amount, class: "form-control" %>
    <%= error_tag f, :amount %>
  </div>

  <div class="form-group">
    <%= label f, :type, class: "control-label" %>
    <%= select f, :type, ["Income": "income", "Outcome": "outcome"], class: "form-control" %>
    <%= error_tag f, :type %>
  </div>  

  <div class="form-group">
    <%= label f, :detail, class: "control-label" %>
    <%= text_input f, :detail, class: "form-control" %>
    <%= error_tag f, :detail %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-success" %>
    <span><%= link "Cancel", to: Routes.transaction_path(@conn, :index), class: "btn btn-danger " %></span>     
  </div>
<% end %>
</div>
</div>
