<div class="row page-title">
    <div class="col-sm-12">
        <h2 class="pull-left ">Listing Transactions</h2>
    </div>
    <div class="col-sm-12">
      <a href="/transactions/new"><button class="btn btn-success waves-effect waves-light m-b-5 btn-sm pull-right"> <i class="fa fa-plus"></i> <span>Create New Transaction</span> </button> </a>
    </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Inserted Date</th>
      <th>Sheet Name</th>
      <th>Member name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Detail</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%= for transaction <- @transactions do %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.inserted_date %></td>
      <td><%= transaction.sheet_name %></td>
      <td><%= transaction.user_name %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.type %></td>
      <td><%= transaction.detail %></td>
      <td>
        <span><button class="btn btn-primary btn-sm action-btn" data-toggle="modal" data-target=".modal<%= transaction.id %>">Show Detail</button></span>
      </td>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<!--  Modal content for the above example -->
<%= for transaction <- @transactions do %>
<div class="modal fade modal<%= transaction.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Transaction Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
            </div>
            <div class="modal-body">

              <table class="table table-striped table-bordered">
                <thead>
                  <th style="width: 25%">Title</th>
                  <th>Value</th>
                </thead>
                <tbody>
                  <tr>
                    <td><strong>ID</strong></td>
                    <td>
                      <%= transaction.id %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Inserted Date</strong></td>
                    <td>
                      <%= transaction.inserted_date %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Sheet Name</strong></td>
                    <td>
                      <%= transaction.sheet_name %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>User Name</strong></td>
                    <td>
                      <%= transaction.user_name %>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Amount</strong></td>
                    <td>
                      <%= transaction.amount %>
                    </td>
                  </tr>                    
                  <tr>
                    <td><strong>Type</strong></td>
                    <td>
                      <%= transaction.type %>
                    </td>
                  </tr> 
                  <tr>
                    <td><strong>Detail</strong></td>
                    <td>
                      <%= transaction.detail %>
                    </td>
                  </tr>             
                </tbody>
              </table>
              <div class="text-center">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<% end %>
