<h1>Show Transaction</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @transaction.amount %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @transaction.type %>
  </li>

  <li>
    <strong>Detail:</strong>
    <%= @transaction.detail %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.transaction_path(@conn, :edit, @transaction) %></span>
<span><%= link "Back", to: Routes.transaction_path(@conn, :index) %></span>
